@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f5f9;     //main background
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 95%;
  background: #45A3EB;
  padding: 30px 0px;
  position: fixed;
  top: 50px;
}
.wrapper .Header{
  width: 100%;
  height: 30px;
  background: #1783D5;
  padding: 30px 0px;
  position: fixed;
  top: -10px;

}

.wrapper .sidebar h3{
  color: black;
  text-transform: none;
  text-align: center;
  margin-bottom: 30px;
  position: fixed;
  left: 20px;
 
}

.wrapper .sidebar ul{
	list-style:none;
	margin:0;
}

.wrapper .sidebar ul li{
	
  padding: 15px;
  position:relative;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #2c3635;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}

.wrapper .sidebar ul li ul{
  display:none;
  padding: 25px;
  position:relative;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
 
}  

.wrapper .sidebar ul li:hover ul{
   display:block;
   background-color: #5289f7;
 
}   
  
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 25px;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 0px;
}
.search input{
	position: fixed;
	left: 400px;
	top: -3px;
	font-size: 14px;
  width: 20%;
  display:block;
  margin: 10px auto;
  padding: 8px;

}
.search button{
  background-color: #1783D5;
  width: 3%;
  height: 20%;
  color: black;
  position: relative;
  left: 750px;
  top: -33px;
  border: none;
  font-size: 30px;
}
.search button:hover{
  color: white;
}
.add{
  width: 150px;
  height: 40px;
  background: green;
  padding: 15px 0px;
  position: fixed;
  top: 70px;
  left: 1250px;
  text-align: center;

}
.add:hover{
   background-color: #594f8d;

}
.add a{
  color: black;
}
.add a:hover{
  color: white;
}
.wrapper .profile{
  width: 70%;
  height: 88%;
  border-style: groove;
  position: fixed;
  top: 70px;
  left: 250px;
}
.wrapper .profile h2{
  position: fixed;
  top: 120px;
  left: 290px;
  text-decoration: underline;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {
    text-decoration-color: gray;    
  }
}

.wrapper .profile a{
  position: fixed;
  top: 150px;
  left: 1030px; 
  
}
.wrapper .profile .edit{
  width: 150px;
  height: 40px;
  background: green;
  padding: 15px 0px;
  position: fixed;
  top: 130px;
  left: 1100px;
}
.wrapper .profile .edit:hover{
   background-color: #594f8d;

}
.wrapper .profile .edit a{
  position: fixed;
  top: 140px;
  left: 1120px;
  color: black;
}
.wrapper .profile .edit a:hover{
  color: white;
}
.wrapper .pic{
  width: 18%;
  height: 45%;
  position: fixed;
  top: 210px;
  left: 290px;
  box-shadow: 5px 1px 10px 10px lightgray;
 
}
.wrapper .pic img {
   position: fixed;
  top: 250px;
  left: 360px;
}
.wrapper .pic p{
  position: fixed;
  top: 420px;
  left: 335px;
  color: gray;
}
.wrapper .pic .file input{
  background-color: lightgray;
  width: 15%;
  height: 4%;
  font-size: 18px;
  text-align: center;
  position: fixed;
  top: 450px;
  left: 315px;
}
.wrapper .pic button{
  width: 6%;
  height: 5%;
  position: fixed;
  top: 500px;
  left: 472px;
  font-size: 18px;
}

.profile .info{
  
  width: 20%;
  position: fixed;
  top: 160px;
  left: 662px;

}
.profile .info table {
  border-collapse: collapse;
  width: 100%;
}

.profile  .info th {
  font-size: 18px;
  color: black;
  padding: 8px;
  text-align: right;
  border-bottom: 1px solid #ddd;
}
.profile .info td{
  font-size: 18px;
  color: black;
padding: 12px;
text-align: left;
border-bottom: 1px solid #ddd;
}
.wrapper .schedule{
    width: 100%;
  height: 95%;
 
  padding: 30px 0px;
  position: fixed;
  top: 50px;
  left: 200px;
}