#username_msg,#name_msg,#dob_msg,#password_msg,#address_msg,#phone_msg,#email_msg,#gender_msg,#blood_msg,#confirm_password_msg,#department_msg,#degree_msg,#speciality_msg,#designation_msg,#registration_no_msg{
	  color:red;
      font-size: 18px;
      margin-left: 60px;
      
    }
	
    
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background-image: url(hospitalregister.jpg);
        background-repeat:no-repeat;
        background-size: 100% 900px;
    }
    h1{
        text-align: center;
        padding-bottom: 50px;
        font-style: italic;
    }
    #register{
        
        width: 30%;
        margin: auto;
        background-color: rgb(0,0,0,0.4);
        padding-left: 120px;
        
    }
    label{
        font-family:sans-serif;
        font-size:20px;
        font-style: italic;
        color: white;
        
    }
    #username{
        width: 300px;
        height: 30px;
        padding: 5px;
        border: 3px;
        border-radius:10px;
        text-align: center;
        font-size: 18px;
    }
 #name{
        width: 300px;
        height: 30px;
        padding: 5px;
        border: 3px;
        border-radius:10px;
        text-align: center;
        font-size: 18px;
    }
#department{
        width: 300px;
        height: 30px;
        padding: 5px;
        border: 3px;
        border-radius:10px;
        text-align: center;
        font-size: 18px;
    }
#degree{
        width: 300px;
        height: 30px;
        padding: 5px;
        border: 3px;
        border-radius:10px;
        text-align: center;
        font-size: 18px;
    }
#speciality{
        width: 300px;
        height: 30px;
        padding: 5px;
        border: 3px;
        border-radius:10px;
        text-align: center;
        font-size: 18px;
    }
#designation{
        width: 300px;
        height: 30px;
        padding: 5px;
        border: 3px;
        border-radius:10px;
        text-align: center;
        font-size: 18px;
    }

#registration_no{
        width: 300px;
        height: 30px;
        padding: 5px;
        border: 3px;
        border-radius:10px;
        text-align: center;
        font-size: 18px;
    }



    #gender{
        font-size: 20px;
        padding: 10px;
    }
#email{
        width: 300px;
        height: 30px;
        padding: 5px;
        border: 3px;
        border-radius:10px;
        text-align: center;
        font-size: 18px;
    }
#phone{
        width: 300px;
        height: 30px;
        padding: 5px;
        border: 3px;
        border-radius:10px;
        text-align: center;
        font-size: 18px;
    }
#dob{
        width: 300px;
        height: 30px;
        padding: 5px;
        border: 3px;
        border-radius:10px;
        text-align: center;
        font-size: 18px;
    }
    #blood{
        width: 300px;
        height: 30px;
        padding: 5px;
        border: 3px;
        border-radius:10px;
        text-align: center;
        font-size: 18px;
    }
    
    #password{
        width: 300px;
        height: 30px;
        padding: 5px;
        border: 3px;
        border-radius:10px;
        text-align: center;
        font-size: 18px;
        
    }
    #confirm_password{
        width: 300px;
        height: 30px;
        padding: 5px;
        border: 3px;
        border-radius:10px;
        text-align: center;
        font-size: 18px;
        
    }
    
    
    #address{
        width: 300px;
        height: 40px;
        padding: 5px;
        border: 3px;
        border-radius:10px;
        text-align: center;
        
    }
    #image{
        
    }
    #submit{
        border: none;
        border-radius:24px;
        margin-left:60px;
        height:40px;
        width: 100px;
        font-size: 20px;
        margin-bottom: 50px;
    }
    #reset{
        border: none;
        border-radius:24px;
        margin-left:10px;
        height:40px;
        width: 100px;
        font-size: 20px;
        margin-bottom: 50px;
    }
    